backports.shutil-get-terminal-size==1.0.0
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
Django==1.11.7
django-redis==4.10.0
enum34==1.1.6
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
ipython==5.1.0
ipython-genutils==0.2.0
pathlib2==2.3.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.1.1
prompt-toolkit==1.0.16
ptyprocess==0.6.0
Pygments==2.3.1
pytz==2019.1
redis==3.2.1
requests==2.21.0
scandir==1.10.0
simplegeneric==0.8.1
six==1.12.0
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.1.7
